@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
.inicio {
  padding: 0;
}
.inicio .caja {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;

  padding: 2rem 9%;
}
.inicio .caja.segunda {
  justify-content: flex-start;
}
.inicio .caja .contenido {
  width: 50rem;
}
.inicio .caja .contenido span {
  font-size: 4rem;
  color: #10221b;
}
.inicio .caja .contenido h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.inicio .caja .contenido p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

.categorias .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 2rem;
}
.categorias .caja {
  text-align: center;
  padding: 1rem;
}
.categorias .caja img {
  height: 20rem;
  widows: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.categorias .caja h3 {
  font-size: 2rem;
  color: #219150;
}
.categorias .caja p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.nosotros {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.nosotros .imagen {
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.nosotros .imagen img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
.nosotros .contenido {
  flex: 1 1 42rem;
}
.nosotros .contenido h3 {
  font-size: 3rem;
  color: #219150;
}
.nosotros .contenido p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.tienda .slide {
  border: 1px solid #10221b;
}
.tienda .slide:hover .imagen .iconos {
  transform: translateY(0);
}
.tienda .slide .imagen {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.tienda .slide .imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tienda .slide .imagen .iconos {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
}
.tienda .slide .imagen .iconos a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 0.2rem;
}
.tienda .slide .imagen .iconos a:hover {
  background: #219150;
}
.tienda .slide .contenido {
  padding: 1rem 0;
  text-align: center;
}
.tienda .slide .contenido h3 {
  font-size: 2rem;
  color: #10221b;
}
.tienda .slide .contenido .precio {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #219150;
}
.tienda .slide .contenido .estrellas i {
  font-size: 1.7rem;
  color: #10221b;
}

.paquetes {
  background: #eee;
}
.paquetes .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2rem;
}
.paquetes .contenedor .caja {
  text-align: center;
  background: #fff;
  border: 1px solid #10221b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.paquetes .contenedor .caja:hover {
  background: #10221b;
}
.paquetes .contenedor .caja:hover .contenido > * {
  color: #fff;
}
.paquetes .contenedor .caja:hover .btn {
  border-color: #fff;
}
.paquetes .contenedor .caja:hover .btn:hover {
  color: #10221b;
  background: #fff;
}
.paquetes .contenedor .caja .imagen {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.paquetes .contenedor .caja .imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.paquetes .contenedor .caja .contenido {
  padding: 2rem;
}
.paquetes .contenedor .caja .contenido h3 {
  font-size: 2rem;
  color: #10221b;
}
.paquetes .contenedor .caja .contenido p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.paquetes .contenedor .caja .contenido .precio {
  font-size: 2rem;
  color: #219150;
}

.experiencias .slide .texto {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background-color: #eee;
  border-radius: 0.5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}
.experiencias .slide .texto::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  transform: rotate(45deg);
}
.experiencias .slide .usuario {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.experiencias .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.experiencias .slide h3 {
  font-size: 2rem;
  color: #10221b;
}
.experiencias .slide span {
  color: #219150;
  font-size: 1.5rem;
}

.servicios {
  background: #eee;
}
.servicios .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.servicios .contenedor .caja {
  text-align: center;
  padding: 2rem;
  border: 1px solid #10221b;
  border-radius: 0.5rem;
  background-color: #fff;
}
.servicios .contenedor .caja:hover {
  background-color: #10221b;
}
.servicios .contenedor .caja:hover img {
  filter: invert(1);
}
.servicios .contenedor .caja:hover p {
  color: #fff;
}
.servicios .contenedor .caja:hover .btn {
  border-color: #fff;
  color: #fff;
}
.servicios .contenedor .caja:hover .btn:hover {
  background-color: #fff;
  color: #10221b;
}
.servicios .contenedor .caja img {
  height: 10rem;
  margin-bottom: 1rem;
}
.servicios .contenedor .caja h3 {
  font-size: 2rem;
  color: #219150;
}
.servicios .contenedor .caja p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.suscripcion .contenido {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}
.suscripcion .contenido p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}
.suscripcion .contenido form {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  border: 1px solid #10221b;
  padding: 0.7rem;
  display: flex;
}
.suscripcion .contenido form .email {
  width: 100%;
  background: none;
  font-size: 1.5rem;
  color: #10221b;
  padding: 0 1.3rem;
}
.suscripcion .contenido form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}
.suscripcion .contenido form .btn:hover {
  background: #fff;
  color: #10221b;
}

.playlist {
  background: #eee;
}

.pokemones .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagina-usuario {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.pagina-usuario .imagenes {
  position: relative;
  margin-top: 4rem;
  height: 30rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}
.pagina-usuario .imagenes .usuario {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pagina-usuario .imagenes .usuario img {
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.pagina-usuario .imagenes .usuario h2 {
  font-size: 5rem;
  color: #fff;
  margin-left: 2rem;
}
.pagina-usuario .imagenes .usuario h3 {
  font-size: 3rem;
  color: #fff;
  margin-left: 2rem;
}
.pagina-usuario .imagenes .usuario h3 i.fa-tint {
  color: aqua;
}
.pagina-usuario .imagenes .usuario h3 i.fa-fire {
  color: orange;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}
.formulario fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  gap: 2rem;
}
.formulario fieldset legend {
  font-weight: 700;
  color: #219150;
  text-align: center;
}
.formulario fieldset .caja {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formulario fieldset .caja label {
  font-weight: 500;
  font-size: 2rem;
  color: #10221b;
  text-align: center;
  margin: 1.5rem 0;
}

.tituloo {
  font-weight: 500;
  font-size: 2rem;
  color: #10221b;
  text-align: center;
  margin: 1.5rem 0;
}
.formulario fieldset .caja input,
.formulario fieldset .caja select {
  text-transform: none;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 50rem;
  border-bottom: 1px solid #10221b;
  margin: 0 auto 2rem auto;
  min-height: 5rem;
  background-color: transparent;
}
.formulario .btn {
  margin: 1rem auto;
}

.textoingresar {
  text-align: center;
  font-size: 1.5rem;
}
.textoingresar a {
  color: #219150;
}

.btn-cerrar-sesion {
  color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 3rem;
}
.btn-cerrar-sesion:hover {
  color: red;
}

.pagina-paquete {
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.pagina-paquete .paquete {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  min-height: 40rem;
}
.pagina-paquete .paquete .imagen {
  flex: 1 1 42rem;
  height: 40rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.pagina-paquete .paquete .imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.pagina-paquete .paquete .info {
  flex: 1 1 42rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.pagina-paquete .paquete .acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.lista-botones {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-acciones {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fondo {
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.encabezadoCRUD {
  margin: 6rem 0 2.5rem 0;
  font-weight: 700;
  color: #219150;
  text-align: center;
  font-size: 4rem;
}

.formCRUD fieldset {
  display: block;
}
.formCRUD fieldset input {
  text-transform: none;
  font-size: 2rem !important;
}
.formCRUD fieldset textarea {
  width: 50rem;
  border: 1px solid #10221b;
  height: 10rem;
  resize: vertical;
  padding: 1rem;
}

.alerta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4px;
  letter-spacing: 1px;
}
.alerta.error {
  margin: 0 auto 2rem auto;
  background-color: #f92a06;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fdfcff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.alerta.exito {
  background-color: #08c008;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.07' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  margin: 0 auto 2rem auto;
  animation: animacionEsconder 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes animacionEsconder {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
table.tabla-productos {
  border-collapse: collapse;
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;
  border: 1px solid #10221b;
  color: #10221b;
  text-align: center;
}
table.tabla-productos thead th {
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
table.tabla-productos .imagen-tabla {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
table.tabla-productos td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
table.tabla-productos tr {
  font-size: 1.8rem;
}
table.tabla-productos tr td a {
  color: #10221b;
  display: inline-block;
  border-radius: 3px;
  width: 10rem;
  text-align: center;
  background-color: #e4c414;
  padding: 1rem;
}
table.tabla-productos tr td form {
  display: inline-block;
}
table.tabla-productos tr td form input {
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #f92a06;
  color: #10221b;
  width: 10rem;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
}
table.tabla-productos tr .acciones-crud {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
table.tabla-productos tr .acciones-crud input {
  color: #fff;
}
table.tabla-productos tr .acciones-crud a {
  color: #fff;
  margin-right: 1rem;
}

.admin-imagenes {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}
.admin-imagenes img {
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.activo {
  background: #fff;
  border: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}
.header .logo i {
  color: #219150;
}
.header .navegacion a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}
.header .navegacion a:hover {
  color: #219150;
}
.header .navegacion #cerrar-nav {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}
.header .iconos a,
.header .iconos div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .iconos a:hover,
.header .iconos div:hover {
  color: #219150;
}
.header .iconos.oculto {
  pointer-events: none;
}
.header #btn-menu {
  display: none;
}

.buscador {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transform: translateY(-110%);
}
.buscador.activo {
  transform: translateY(0);
}
.buscador #cerrar-buscador {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}
.buscador #cerrar-buscador:hover {
  color: #219150;
}
.buscador form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}
.buscador form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.buscador form input::placeholder {
  color: #aaa;
}
.buscador form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.buscador form label:hover {
  color: #219150;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.footer .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .contenedor .caja h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}
.footer .contenedor .caja a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .contenedor .caja a i {
  color: #219150;
  padding-right: 0.5rem;
}
.footer .contenedor .caja a:hover {
  color: #219150;
}
.footer .contenedor .caja a:hover i {
  padding-right: 2rem;
}
.footer .creditos {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}
.footer .creditos span {
  color: #219150;
}

* {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 1px solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background: #10221b;
  color: #fff;
}

.encabezado {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-bottom: 7rem;
  }

  .inicio .caja {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
    align-items: center;
  }
  .inicio .caja.segunda {
    justify-content: center;
    background-position: left !important;
  }
  .inicio .caja .contenido {
    text-align: center;
  }
  .inicio .caja .contenido span {
    font-size: 3rem;
  }
  .inicio .caja .contenido h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .header #btn-menu {
    display: inline-block;
  }
  .header .navegacion {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 1000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .navegacion.activo {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navegacion a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navegacion #cerrar-nav {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .encabezado {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
